$body-bg-color: rgb(24, 24, 24);

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #e9e9e9 !default;
$header-bg-color: #3f3f3f !default;
$header-bg-color-secondary: #3f3f3f !default;

// Text
$section-headings-color: #60c253 !default;
$body-text-color: #ececec !default;
$body-link-color: #c5c74d !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #242424 !default;
$code-text-color: #e0e0e0 !default;

// Borders
$border-color: #616161 !default;
$table-border-color: #818181 !default;
$hr-border-color: #eff0f1 !default;
